
<!-- Error Modal -->

<div id="error-modal" class="error-alert error-status">

    <div class="close-button">

        <div id="error-close" class="clox">

            <i class="fa-solid fa-xmark"></i>
        </div>


    </div>

    <div class="error-alert-inner">

        <div class="error-alert-left error-icon">

            <i class="fa-solid fa-circle-xmark"></i>

        </div>

        <div class="error-alert-right">

            <h3>Error</h3>
            <p id="error-toss-message"></p>

        </div>

    </div>

</div>


<!-- Warning Error Modal -->

<div id="warning-Modal" class="error-alert warning-status">

    <div class="close-button">

        <div class="clox">

            <i class="fa-solid fa-xmark"></i>
        </div>


    </div>

    <div class="error-alert-inner">

        <div class="error-alert-left warning-icon">

            <i class="fa-solid fa-circle-exclamation"></i>

        </div>

        <div class="error-alert-right">

            <h3>Password</h3>
            <p>Password Must be 6 Characters</p>

        </div>

    </div>

</div>

<!-- Sucess Mocal -->


<div id="successModal" class="error-alert success-status">

    <div class="close-button">

        <div id="closeSucessToss" class="clox">

            <i class="fa-solid fa-xmark"></i>
        </div>


    </div>

    <div class="error-alert-inner">

        <div class="error-alert-left sucess-icon">

            <i class="fa-solid fa-circle-check"></i>

        </div>

        <div class="error-alert-right">

            <h3>Success</h3>
            <p id="sucessTossMessage"></p>

        </div>

    </div>

</div>