<header>

    <div class="header-inner">

        <div class="header-left">
            
            <div class="nav-logo">
                <h3>Chowlin</h3>
            </div>

           

        </div>

        <div class="header-right">

            <div class="cart-button">
                <div class="cart-counter">
                    <p>10</p>
                </div>
                <button><i class="fa-solid fa-cart-shopping"></i></button>
            </div>

            <div class="user-button">
                <button id="user-icon"><i class="fa-regular fa-user"></i></button>
            </div>

        </div>


    </div>

</header>


<div id="signin-modal" class="signin-modal">

    <!-- Modal Login Content Starts Here -->

    <div  id="login-section"  class="signin-modal-inner">

        <div class="close-button">
            <h3>&times;</h3>
        </div>

        <div class="modal-title">

            <h4>Sign In</h4>
            <p>Sign In to Continue</p>

        </div>

        <div class="modal-body">

            <div class="modal-form">
                <form action="">
                <p>Email</p>

                <div class="form-container">

                    <div class="form-icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                
                <input id="login_email" type="text" name="email" type="email" autocomplete="off" >

                </div>

                <p>Password</p>

                <div class="form-container">

                <div class="form-icon">

                    <i class="fa-solid fa-lock"></i>

                </div>
                <input id="login_password" name="password" type="password" autocomplete="off" >

                </div>

                <button id="login_btn" >Sign In</button>
                <h4>New to Chowlin? <span id="newhere">Sign Up</span></h4>

                </form>
                

            </div>

        </div>


    </div>

    <!-- Modal Login Content Ends Here -->

    <!-- Modal Sign Up Content Starts Here -->

    <div  id="signup-section"  class="signin-modal-inner">

        <div class="close-button">
            <h3>&times;</h3>
        </div>

        <div class="modal-title">

            <h4>Sign Up</h4>
            <p>Sign Up to Continue</p>

        </div>

        <div class="modal-body">

            <div class="modal-form">
                <form action="">
                <p>First Name</p>

                <div class="form-container">

                    <div class="form-icon">
                        <i class="fa-solid fa-user"></i>
                    </div>
                
                <input id="first_name" type="text" name="first name" type="text" autocomplete="off" >

                </div>
                <p>Last Name</p>

                <div class="form-container">

                    <div class="form-icon">
                        <i class="fa-solid fa-user"></i>
                    </div>
                
                <input id="last_name" type="text" name="last name" type="text" autocomplete="off" >

                </div>
                <p>Email</p>

                <div class="form-container">

                    <div class="form-icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                
                <input id="signup_email" type="text" name="email" type="email" autocomplete="off" >

                </div>

                <p>Password</p>

                <div class="form-container">

                <div class="form-icon">

                    <i class="fa-solid fa-lock"></i>

                </div>
                <input id="signup_password" name="password" type="password" autocomplete="off" >

                </div>
                <p>Phone</p>

                <div class="form-container">

                <div class="form-icon">

                    <i class="fa-solid fa-phone"></i>

                </div>
                <input id="mobile_number" name="phone" type="text" autocomplete="off" >

                </div>

                <button id="signup_btn">Next</button>
                <p id="signuperror" style="text-align: center;font-size: 15px;"></p>
                <h4>Have an Account? <span id="washere">Sign In</span></h4>

                </form>
                

            </div>

        </div>


    </div>

    <!-- Modal Sign Up Content Ends Here -->

    <!-- Modal Email Verification Content Starts Here -->


    <div  id="email-section"  class="signin-modal-inner">

        <div class="close-button">
            <h3>&times;</h3>
        </div>

        <div class="modal-title">

            <h4>Verify Email</h4>
            <p>Enter 4 Digit Code Sent To Your <span>Email</span> </p>

        </div>

        <div class="modal-body">

            <div class="verify-container">

        <div class="code-boxes-container">

                <div class="box">

                    <input id="first_box" type="text">

                </div>
                <div class="box">

                    <input id="second_box" type="text">

                </div>
                <div class="box">

                    <input id="third_box" type="text">

                </div>
                <div class="box">

                    <input id="fourth_box" type="text">

                </div>

            </div>

            <div class="modal-form">
              <button id="verify_btn" >Verify</button>
              
              <p id="verificationerror" style="text-align: center;font-size: 15px;"></p>

                <h4>Did Not Receive Code? <span>Resend</span></h4>

                </form>
                

            </div>

            </div>

            

        </div>


    </div>


    <!-- Modal Sign Up Content Starts Here -->




</div>