




            
            <div id="successful-payment" class="payment-status-container">



                <div class="status-image">


                    <img src="/images/success.gif" alt="">


                </div>

                <div class="status-text">
                    <h3>Payment Sucessful</h3>
                </div>




            </div>
            <div id="failed-payment" class="payment-status-container">



                <div class="status-image">


                    <img src="/images/error.gif" alt="">


                </div>

                <div class="status-text">
                    <h3 id="paymentError"></h3>
                </div>




            </div>
            <div id="checking-payment" class="payment-status-container">


                <div class="status-text">
                    <h3 style="font-size: 18px;">Verifying Transaction ....</h3>
                </div>




            </div>

