<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Food On Campus From Your Favorite Vendors || Dashboard</title>
    <%- include("../partials/dashboard/styles.ejs") %>
    <%- include("../partials/universal/styles.ejs") %>
    <link rel="stylesheet" href="/styles/dashboard/orders.css">
    <link rel="stylesheet" href="/styles/alert/alert.css">
   
</head>
<body>
   
    <div class="side-bar">

        <div class="side-bar-inner">

            <div class="side-bar-top">

                <h3>CHOWLIN</h3>

            </div>

            <div class="side-bar-buttons">

                <div class="side-bar-buttons-inner">

                    <div class="single-side-bar-button ">
                        <i class="fa-solid fa-table-columns"></i>
                        <a href="/user/dashboard"><button>Dashboard</button></a>
                    </div>

                    <div class="single-side-bar-button active-button">
                        <i class="fa-solid fa-cart-flatbed"></i>
                        <a href="/user/dashboard/orders"><button>Orders</button></a>
                    </div>
                    
                    <div class="single-side-bar-button">
                        <i class="fa-solid fa-credit-card"></i>
                        <a href="/user/dashboard/payments"><button>Transactions</button></a>
                    </div>
                    
                    <div class="single-side-bar-button">
                        <i class="fa-solid fa-wallet"></i>
                        <a href="/user/dashboard/wallet"><button>Wallet</button></a>
                    </div>


                    <div class="single-side-bar-button">
                        <i class="fa-solid fa-sliders"></i>
                        <a href="/user/dashboard/settings"><button>Settings</button></a>
                    </div>

                    <br><br>


                     <div class="single-side-bar-button">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <a href="/user/logout"><button>Logout</button></a>
                    </div>







                </div>

            </div>



        </div>


    </div>

 <!-- active-mobile -->

    <!-- mobile Sidebar -->

    <div class="mobile-side-bar">

        <div class="mobile-side-bar-inner">

            <div class="mobile-side-bar-button ">

                <div class="button-icon">

                    <a href="/user/dashboard">
                    <button><i class="fa-solid fa-table-columns"></i><span style="margin-left: 10px;display: none;">Dashboard</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button active-mobile ">

                <div class="button-icon">

                    <a href="/user/dashboard/orders">
                    <button><i class="fa-solid fa-cart-flatbed"></i><span style="margin-left: 10px;display: none;">Orders</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button">

                <div class="button-icon">

                    <a href="/user/dashboard/payments">
                    <button><i class="fa-solid fa-credit-card"></i><span style="margin-left: 10px;display: none;">Payments</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button ">

                <div class="button-icon">

                    <a href="/user/dashboard/wallet">
                    <button><i class="fa-solid fa-wallet"></i><span style="margin-left: 10px;display: none;">Wallet</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button">

                <div class="button-icon ">

                    <a href="/user/dashboard/settings">
                    <button><i class="fa-solid fa-sliders"></i><span style="margin-left: 10px;display: none;">Settings</span></button></a>
                

                </div>

            </div>

        </div>

    </div>


 <!-- mobile Sidebar Ends Here -->



    <main class="main-page">

        <div class="main-page-header">

            <h3>Orders</h3>

        </div>


        <div class="main-page-inner">

              <div class="track-order">

                <!-- <div class="title">
                    <h3>Track Order</h3>
                </div> -->

                <div id="" class="tracker-container">

                    <div class="tracker-left">

                        <div class="trackingid-input">
                            <input placeholder="Order Id" type="search">
                            <p>Track</p>
                        </div>

                    </div>

                    <div id="trackstatus" class="tracker-right">

                        <div id="firstStep" class="status-div">
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Ordered</p>
                        </div>
                         <!-- passed-line -->

                        <div id="firstLine" class="straightline"></div>
                        <div id="secondStep" class="status-div">
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Packing</p>
                        </div>

                        <div id="secondLine" class="straightline"></div>
                        <div id="thirdStep" class="status-div">
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Out</p>
                        </div>

                        <div id="thirdLine" class="straightline"></div>
                        <div id="lastSep" class="status-div">
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Delivered</p>
                        </div>

                        <!-- <div class="straightline"></div> -->


                    </div>

                </div>

            </div>


            <div class="order-section-title">
                <h3>Open Orders</h3>
            </div>

            <div id="open-orders-container" class="orders-array">      

            <!-- <div class="single-order">


                <div class="order-id">

                    <h3>Order #67890</h3>

                </div>
                
                <p>Bought 2 Egg and Dodo making it 2000, and 200 Naira fish Yesterday</p>

                <p>Date: August 27, 2023</p>
                <p>Total: 20,000</p>
                <p>PHOENIX RESTAURANT</p>
                <button style="background-color: red;">Cancel</button>
                <button>Track Status</button>


            </div> -->
           
            



        </div>


            <div class="order-section-title">
                <h3>Closed Orders</h3>
            </div>

        <div id="closed-orders-container" class="orders-array">      

            <!-- <div class="single-order">


                <div class="order-id">

                    <h3>Order #67890</h3>

                </div>
                
                <p>Bought 2 Egg and Dodo making it 2000, and 200 Naira fish Yesterday</p>

                <p>Date: August 27, 2023</p>
                <p>Total: 20,000</p>
                <p>PHOENIX RESTAURANT</p>
                <button>Get Invoice</button>


            </div> -->
        
            



        </div>
        
















        </div>

    <%- include("../partials/alert/alert.ejs") %>


    </main>





    <%- include("../partials/dashboard/scripts.ejs") %>
    <script src="/scripts/alert/alert.js"></script>
    <script src="/scripts/dashboard/orders.js"></script>
</body>
</html>