<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Food On Campus From Your Favorite Vendors || Dashboard</title>
    <%- include("../partials/dashboard/styles.ejs") %>
    <%- include("../partials/universal/styles.ejs") %>
    <link rel="stylesheet" href="/styles/dashboard/settings.css">
   
</head>
<body>
   
    <div class="side-bar">

        <div class="side-bar-inner">

            <div class="side-bar-top">

                <h3>CHOWLIN</h3>

            </div>

            <div class="side-bar-buttons">

                <div class="side-bar-buttons-inner">

                    <div class="single-side-bar-button ">
                        <i class="fa-solid fa-table-columns"></i>
                        <a href="/user/dashboard"><button>Dashboard</button></a>
                    </div>

                    <div class="single-side-bar-button">
                        <i class="fa-solid fa-cart-flatbed"></i>
                        <a href="/user/dashboard/orders"><button>Orders</button></a>
                    </div>
                    
                    <div class="single-side-bar-button ">
                        <i class="fa-solid fa-credit-card"></i>
                        <a href="/user/dashboard/payments"><button>Transactions</button></a>
                    </div>
                    
                    <div class="single-side-bar-button">
                        <i class="fa-solid fa-wallet"></i>
                        <a href="/user/dashboard/wallet"><button>Wallet</button></a>
                    </div>


                    <div class="single-side-bar-button active-button">
                        <i class="fa-solid fa-sliders"></i>
                        <a href="/user/dashboard/settings"><button>Settings</button></a>
                    </div>



                    
                    <br><br>


                    <div class="single-side-bar-button">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <a href="/user/logout"><button>Logout</button></a>
                    </div>






                </div>

            </div>



        </div>


    </div>

 <!-- active-mobile -->

    <!-- mobile Sidebar -->

    <div class="mobile-side-bar">

        <div class="mobile-side-bar-inner">

            <div class="mobile-side-bar-button ">

                <div class="button-icon">

                    <a href="/user/dashboard">
                    <button><i class="fa-solid fa-table-columns"></i><span style="margin-left: 10px;display: none;">Dashboard</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button">

                <div class="button-icon">

                    <a href="/user/dashboard/orders">
                    <button><i class="fa-solid fa-cart-flatbed"></i><span style="margin-left: 10px;display: none;">Orders</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button ">

                <div class="button-icon">

                    <a href="/user/dashboard/payments">
                    <button><i class="fa-solid fa-credit-card"></i><span style="margin-left: 10px;display: none;">Payments</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button">

                <div class="button-icon">

                    <a href="/user/dashboard/wallet">
                    <button><i class="fa-solid fa-wallet"></i><span style="margin-left: 10px;display: none;">Wallet</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button active-mobile ">

                <div class="button-icon ">

                    <a href="/user/dashboard/settings">
                    <button><i class="fa-solid fa-sliders"></i><span style="margin-left: 10px;display: none;">Settings</span></button></a>
                

                </div>

            </div>

        </div>

    </div>


 <!-- mobile Sidebar Ends Here -->



    <main class="main-page">

        <div class="main-page-header">

            <h3>Settings</h3>

        </div>


        <div class="main-page-inner">



            <div class="navigation-container">

                <p id="personal_btn" class="active">Personal</p>
                <p id="security_btn">Security</p>
                <p id="wallet_btn">Wallet</p>
                <p id="noti_btn">Notifications</p>

            </div>

            <div class="settings-body">


                <div class="settings-body-inner">

                    <div class="settings-title">
                        <h3 id="active-settings">Personal Information</h3>
                    </div>


                  <div id="personal-settings" class="main-setting">
                        <p id="personal_error"></p>


                        <div class="input-group">

                            <input placeholder="First Name" type="text"  id="first_name">
                            <input placeholder="Last Name" type="text"  id="last_name">

                        </div>
                        
                        <div class="input-group">

                            <input placeholder="Phone Number" type="number"  id="phone_number">

                        </div>




                        <div class="update-button">
                            <button id="edit_personal_btn">Save</button>
                        </div>


                    </div> 
                    
                    
                    <div id="security-settings" class="main-setting">

                        <p id="security_error"></p>

                        <div class="input-group">

                            <input placeholder="Old Password" type="password"  id="old_password">
                            <input placeholder="New Password" type="password"  id="new_password">

                        </div>
                        
                        <div class="input-group">

                            <input placeholder="Confirm New Password" type="password"  id="c_password">
                           

                        </div>



                   
                        <div class="check-box-option">

                            <p>2 Factor Auth.</p>

                            <label class="switch">
                            <input id="two_factor" type="checkbox">
                            <span class="slider"></span>
                            </label>


                        </div>

                       

                      
                        <div class="update-button">
                            <button id="save_security">Save</button>
                        </div>

                        <div class="update-button">
                            <a href="/user/logout"><button id="save_security">Log Out</button></a>
                        </div>

                    </div> 

                     <div id="wallet-settings" class="main-setting">

                        <p id="wallet-error"></p>

                        <div class="input-group">

                            <input placeholder="New Transaction Pin" type="number"  id="t_pin">
                            <input placeholder="Password" type="password"  id="password_for_pin">

                        </div>
    
                   
                
                            <div class="update-button">
                            <button id="save_wallet">Save</button>
                        </div>

                        <!-- Panic Ballance -->

                        <div class="input-group">

                            <input placeholder="Panic Ballance" type="number"  id="p_ballance">
                            

                        </div>

                        <div class="check-box-option">

                            <p>Panic Mode</p>

                            <label class="switch">
                            <input id="p_mode" type="checkbox">
                            <span class="slider"></span>
                            </label>


                        </div>
    
                   
                
                            <div class="update-button">
                            <button id="save_panic_balance">Save</button>
                        </div>

                    </div> 

                    <!-- notification -->

                    <div id="notification-settings" class="main-setting">

                        <p id="notification-error"></p>

                        <div class="check-box-option">

                            <p>Account Funding Emails</p>

                            <label class="switch">
                            <input id="funding_emails" type="checkbox">
                            <span class="slider"></span>
                            </label>


                        </div>
                        
                        <div class="check-box-option">

                            <p>Order Status Emails</p>

                            <label class="switch">
                            <input id="order_emails" type="checkbox">
                            <span class="slider"></span>
                            </label>


                        </div>
                        <div class="check-box-option">

                            <p>Deals and Special Offer</p>

                            <label class="switch">
                            <input id="deals_emails" type="checkbox">
                            <span class="slider"></span>
                            </label>


                        </div>
                   
                
                            <div class="update-button">
                            <button id="save_notification">Save</button>
                        </div>

                    </div>  




                </div>



            </div>



 
        </div>


    </main>


  


    <%- include("../partials/dashboard/scripts.ejs") %>
    <script src="/scripts/dashboard/settings.js"></script>

</body>
</html>