<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Food On Campus From Your Favorite Vendors || Dashboard</title>
    <%- include("../partials/dashboard/styles.ejs") %>
    <%- include("../partials/universal/styles.ejs") %>
    <link rel="stylesheet" href="/styles/dashboard/wallet.css">
   
</head>
<body>
   
    <div class="side-bar">

        <div class="side-bar-inner">

            <div class="side-bar-top">

                <h3>CHOWLIN</h3>

            </div>

            <div class="side-bar-buttons">

                <div class="side-bar-buttons-inner">

                    <div class="single-side-bar-button ">
                        <i class="fa-solid fa-table-columns"></i>
                        <a href="/user/dashboard"><button>Dashboard</button></a>
                    </div>

                    <div class="single-side-bar-button">
                        <i class="fa-solid fa-cart-flatbed"></i>
                        <a href="/user/dashboard/orders"><button>Orders</button></a>
                    </div>
                    
                    <div class="single-side-bar-button ">
                        <i class="fa-solid fa-credit-card"></i>
                        <a href="/user/dashboard/payments"><button>Transactions</button></a>
                    </div>
                    
                    <div class="single-side-bar-button active-button">
                        <i class="fa-solid fa-wallet"></i>
                        <a href="/user/dashboard/wallet"><button>Wallet</button></a>
                    </div>


                    <div class="single-side-bar-button">
                        <i class="fa-solid fa-sliders"></i>
                        <a href="/user/dashboard/settings"><button>Settings</button></a>
                    </div>








                </div>

            </div>



        </div>


    </div>

 <!-- active-mobile -->

    <!-- mobile Sidebar -->

    <div class="mobile-side-bar">

        <div class="mobile-side-bar-inner">

            <div class="mobile-side-bar-button ">

                <div class="button-icon">

                    <a href="/user/dashboard">
                    <button><i class="fa-solid fa-table-columns"></i><span style="margin-left: 10px;display: none;">Dashboard</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button">

                <div class="button-icon">

                    <a href="/user/dashboard/orders">
                    <button><i class="fa-solid fa-cart-flatbed"></i><span style="margin-left: 10px;display: none;">Orders</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button ">

                <div class="button-icon">

                    <a href="/user/dashboard/payments">
                    <button><i class="fa-solid fa-credit-card"></i><span style="margin-left: 10px;display: none;">Payments</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button active-mobile ">

                <div class="button-icon">

                    <a href="/user/dashboard/wallet">
                    <button><i class="fa-solid fa-wallet"></i><span style="margin-left: 10px;display: none;">Wallet</span></button></a>
                

                </div>

            </div>
            <div class="mobile-side-bar-button">

                <div class="button-icon ">

                    <a href="/user/dashboard/settings">
                    <button><i class="fa-solid fa-sliders"></i><span style="margin-left: 10px;display: none;">Settings</span></button></a>
                

                </div>

            </div>

        </div>

    </div>


 <!-- mobile Sidebar Ends Here -->



    <main class="main-page">

        <div class="main-page-header">

            <h3>Transactions</h3>

        </div>


        <div class="main-page-inner">

            

        <div class="virtual-card-container">


                <div class="card-title">

                    <h3>Virtual Card</h3>

                    <button>Get Virtual Card</button>

                </div>

                <div class="single-virtual-card">

                    <div class="card-top">

                        <h3>Collins Adi</h3>
                        <h3>CHOWLIN</h3>

                    </div>

                    <div class="card-number">

                       <h3>4635 <span>7464 </span>     <span>9320</span>  9018</h3>


                    </div>

                    <div class="card-footer">

                    <div class="ballance">

                        <p>₦</p><input id="main_ballance" type="password" value="2,000,000" disabled>

                        <div id="toggleBallance" class="toggle-ballance">
                            <div id="eye_btn" class="fa-solid fa-eye"></d>
                        </div>

                    </div>

                    <div class="footer-right">

                                    

                    </div>

                    </div>

                


                </div>
           
            </div>

                <div class="transaction-buttons">

                    <button>Add Money</button>
                    <button>Freeze Wallet</button>

                </div>

        </div>


    </main>





    <%- include("../partials/dashboard/scripts.ejs") %>
    <script src="/scripts/dashboard/wallet.js"></script>
</body>
</html>