<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="assets/images/favicon.png" rel="icon" />
<title>Documentation</title>
<meta name="description" content="Your ThemeForest item Name and description">
<meta name="author" content="harnishdesign.net">

<!-- Stylesheet
============================== -->
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css" />
<!-- Font Awesome Icon -->
<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
<!-- Magnific Popup -->
<link rel="stylesheet" type="text/css" href="assets/vendor/magnific-popup/magnific-popup.min.css" />
<!-- Highlight Syntax -->
<link rel="stylesheet" type="text/css" href="assets/vendor/highlight.js/styles/github.css" />
<!-- Custom Stylesheet -->
<link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css" />
</head>

<body data-spy="scroll" data-target=".idocs-navigation" data-offset="125">

<!-- Preloader -->
<!-- <div class="preloader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div> -->
<!-- Preloader End --> 

<!-- Document Wrapper   
=============================== -->
<div id="main-wrapper"> 
  
  <!-- Header
  ============================ -->
  <header id="header" class="sticky-top"> 
    <!-- Navbar -->
    <nav class="primary-menu navbar navbar-expand-lg navbar-dropdown-dark">
      <div class="container-fluid">
        <!-- Sidebar Toggler -->
		<button id="sidebarCollapse" class="navbar-toggler d-block d-md-none" type="button"><span></span><span class="w-75"></span><span class="w-50"></span></button>
		
		<!-- Logo --> 
        <a class="logo ml-md-3" href="/" title="iDocs Template"> <h3>Chowlin</h3></a> 
		<span class="text-2 ml-2">v1.0</span> 
        <!-- Logo End -->
        
	
		<div id="header-nav" class="collapse navbar-collapse justify-content-end">
          
      
    </nav>
    <!-- Navbar End --> 
  </header>
  <!-- Header End --> 
  
  <!-- Content
  ============================ -->
  <div id="content" role="main">
    
	<!-- Sidebar Navigation
	============================ -->
	<div class="idocs-navigation bg-light">
      <ul class="nav flex-column ">
        <li class="nav-item"><a class="nav-link active" href="#idocs_start">Intro</a>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#idocs_installation">Purpose</a></li>
            <li class="nav-item"><a class="nav-link" href="#idocs_html_structure">Scope</a></li>
            <li class="nav-item"><a class="nav-link" href="#idocs_sass">Project Goals</a></li>
          </ul>
        </li>

         <li class="nav-item"><a class="nav-link" href="#idocs_color_schemes">User Guide</a>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#idocs_theme_customization">Sign in</a></li>
            <li class="nav-item"><a class="nav-link" href="#idocs_logo_settings">Wallet</a></li>
            <li class="nav-item"><a class="nav-link" href="#idocs_layout">Panic Mode</a></li>
            <li class="nav-item"><a class="nav-link" href="#idocs_header">Mails</a></li>
           
          </ul>
        </li>
         <li class="nav-item"><a class="nav-link" href="#idocs_navbar">Vendor's Guide</a>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#idocs_sidebar">Sign in</a></li>
            
           
          </ul>
        </li>
	
      </ul>
    </div>
    
    <!-- Docs Content
	============================ -->
    <div class="idocs-content">
      <div class="container"> 
        
        <!-- Getting Started
		============================ -->
        <section id="idocs_start">
        <h1>Chowlin</h1>
        <h2>Documentation</h2>
        <p class="lead">Thank you so much for taking out Tme to Check out My project</p>
		<hr>
		<div class="row">
			<div class="col-sm-6 col-lg-4">
				<ul class="list-unstyled">
					<li><strong>Version:</strong> 1.0</li>
					<li><strong>Author:</strong> <a href="https://collinsadi.vercel.app" target="_blank">Collins Oribo</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-4">
				<ul class="list-unstyled">
					<li><strong class="font-weight-700">Created:</strong> Sept, 2023</li>
					<li><strong>Update:</strong> October, 2023</li>
				</ul>
			</div>
		</div>
        <p class="alert alert-info">If you have any questions that are beyond the scope of this help file, Please feel free to email via <a target="_blank" href="mailto:chowlinfood@gmail.com">Chowlin Support</a>.</p>
        </section>
        
		<hr class="divider">
		
        <!-- Installation
		============================ -->
        <section id="idocs_installation">
          <h2>Purpose</h2>
          <p class="lead">This Project Aims to Connect Students in My Schol with Their Favorite Vendors/Food Seller in the School without the stress of taking a shuttle down to the shopping complex or working down and all those stress, so you just seat whereever you are and make the order and it just get's delivered to you directly at your Department.</p>
         
        </section>
        
		<hr class="divider">
		
        <!-- HTML Structure
		============================ -->
        <section id="idocs_html_structure">
          <h2>Scope</h2>
          <p>This Platform Includes:<br>
              <ol>
            <li>Vendor Registration, which securely registers vendors and authenticate them.</li>
            <li>User Registration, which  securely registers Users and authenticate them
            </li>
            <li>Digital Wallet, a Digital Wallet that allows Users to fund and Securely Make transactions with their wallet Balance. Also Allowing Vendors to securely accumulate sales and request for Withdrawal</li>
            <li>Food Listing, a very easy to use interface for vendor's to list foods for sale on their pages</li>
            
            <li>Food Ordering, allowing Registered Users to Add Food to their Cart and Check them Out</li>
            <li>Payment Processing, crediting vendor for orders and debiting users for order, also Keeping a Track of Payment/Transactions History</li>

          </ol>

          <p class="alert alert-danger">Note: Users can check out Orders from Only One Vendor at a Time, this is to make sorting and fund splitting fast and easy. </p>
        </section>
        
		<hr class="divider">
		        
		<!-- Sass
		============================ -->
        <section id="idocs_sass">
          <h2>Project Goals and Objectives</h2>
          <p>the Goal is to Connect Local Vendors in the school with students to streamline the food ordering Processing, while Keepingit minimal and easy to use</p>
          <p>Some of the Project Objectives are, Enabling Users, order food easily, Vendors uploading their menu easily, ensure secure payment Transactions</p>
  
        </section>
        
		<hr class="divider">
		
		<!-- Color Schemes
		============================ -->
        <section id="idocs_color_schemes">
          <h2>User's Guide</h2>
          <p>A Guide for users on how some certain things that might not be clear enough works</p>
         
    
        </section>
        
		<hr class="divider">
		
		<!-- Customization
		============================ -->
        <section id="idocs_theme_customization">
          <h2>Sign in</h2>
          <p>To sign in as a User Visit <a href="/store">The Store</a>, then click the user Avatar at the top right of your screen, if you arent already logged in, a modal would pop up for you to Sign in or Create a New Account.</p>
          <p>After Sign Up You would be prompted to verify your email address, after verification the store page would reload, Clicking on the user Avatar again Taks you to your Dashboard.</p>
      
        </section>
        
		<hr class="divider">
		
        <!-- Logo Settings
		============================ -->
        <section id="idocs_logo_settings">
          <h2>Wallet</h2>
          <p>The Default wallet Pin for Every User is  <b>1111</b>, you would not be allowed to check your ballance without the Wallet Pin. You can always change the wallet pin in the settings page on your Dashboard.</p>
       
          <p>The Project is on TEST mode so, no real payments are being paid.</p>
       
        </section>
		
        
		<hr class="divider">
		
		<!-- Layout
		============================ -->
        <section id="idocs_layout">
          <h2>Panic Mode</h2>
          <p>Panic Mode Allows you to Set any amount between <b>1</b>-<b>5000</b> Naira, which does not affect your actual Ballance, when you try to check your wallet ballance while panic mode is <b>ON</b>, your panic Ballance would Display instead of your Actual Balance </p>
          <p>This Feature was Included for security Reasons</p>
        </section>
		
		
        <!-- Header
		============================ -->
        <section id="idocs_header">
          <h2>Mails</h2>
          <p>You Have Full Control over the Mails you Receive, You can unsubscribe from these Emails by going to the Settings Page, Navigating to Notifications and Turning it off.</p>
    
        </section>
		
		<hr class="divider">
		
		<!-- Navbar
		============================ -->
        <section id="idocs_navbar">
          <h2>Vendor's Guide</h2>
		  <p class="lead">A Guide to some Unclear Things in the Vendor Section</p>
        </section>
		
		<hr class="divider">
		
		<!-- Sidebar
		============================ -->
        <section id="idocs_sidebar">
          <h2>Sign In</h2>
          <p></p>

          
		</section>
		
		<hr class="divider">
		
       
  
</div>
<!-- Document Wrapper end --> 

<!-- Back To Top --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- JavaScript
============================ -->
<script src="assets/vendor/jquery/jquery.min.js"></script> 
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<!-- Highlight JS -->
<script src="assets/vendor/highlight.js/highlight.min.js"></script> 
<!-- Easing --> 
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script> 
<!-- Magnific Popup --> 
<script src="assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script> 
<!-- Custom Script -->
<script src="assets/js/theme.js"></script>
</body>
</html>
