<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Food On Campus From Your Favorite Vendors || Store</title>
    <%- include("../partials/universal/styles.ejs") %>
    <link rel="stylesheet" href="styles/nav/storeHeader.css">
</head>
<body>
    <%- include("../partials/headers/storeHeader.ejs") %>
    


    <script src="scripts/nav/storeHeader.js"></script>
    <%- include("../partials/universal/scripts.ejs") %>
    <script src="scripts/nav/userAuth.js"></script>
</body>
</html>