<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Food On Campus From Your Favorite Vendors || Phoenix Restaurant</title>
    <%- include("../partials/universal/styles.ejs") %>
    <link rel="stylesheet" href="/styles/nav/storeHeader.css">
    <link rel="stylesheet" href="/styles/nav/vendor.css">
</head>
<body>
    <%- include("../partials/headers/storeHeader.ejs") %>
    

    <section class="vendor-section">


        <div class="vendor-section-inner">


            <div class="back-to-vendors">
                <i onclick="goBack()" class="fa-solid fa-arrow-left"></i>
                <p onclick="goBack()">Vendors</p>
            </div>

            <div class="vendor-image-banner">


                <img id="vendor_image" src="" alt="">

            </div>

            <div class="vendor-details">

                <h3 id="vendor_name"></h3>

            </div>

            <div class="vendor-time">

                <h3>Opening Time</h3>
                <p>08:00 am - 08:00 pm</p>

            </div>


            <div id="vendor_meals" class="vendor-foods">


                <!-- <div class="single-meal">

                    <div class="single-meal-left">

                        <div class="meal-details">
                            <h3>Fried Singapore Egg Noodles</h3>
                            <p>Send your Taste Buds to Heaven as it Lands, Comes with Egg, Coke Dodo and Some </p>
                            
                        </div>

                        <div class="meal-price">
                            <h3>₦ 2,500</h3>
                        </div>

                        <button>Add to Pack</button>

                    </div>
                    <div class="single-meal-right">
                        
                        <img src="/images/food.png" alt="">

                    </div>

                </div> -->
                
                

            </div>




        </div>


    </section>
  



    <%- include("../partials/universal/scripts.ejs") %>
    <script src="/scripts/nav/storeHeader.js"></script>
    <script src="/scripts/nav/userAuth.js"></script>
    <script src="/scripts/nav/vendor.js"></script>
</body>
</html>