

.orders-array{

    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.single-order{

    width: 100%;
    padding: 15px;
    background-color: white;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 15px;
    border-left: 8px solid var(--primary-color);
    margin-bottom: 15px;
}

.single-order .order-id{

    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.single-order p{

    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.single-order p:nth-child(4){

    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.single-order button{

    width: 200px;
    padding: 10px;
    background-color: var(--primary-color);
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
    outline: 0;
    border: 0;
    color: white;
}

.order-section-title{

    width: 100%;
    padding: 10px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 20px;
    margin-top: 20px;
    
}


.tracker-order{

    width: 100%;
    
}

.title{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.tracker-container{

    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* justify-content: space-between; */
}

.tracker-left{

    width: 300px;
    max-width: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    background-color: white;

}

.trackingid-input{

    display: flex;
    align-items: center;
}
.trackingid-input input{

    background-color: transparent;
    border: 0;
    outline: 0;
    border-right: 3px solid var(--secondary-color);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.trackingid-input p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}


.tracker-right{

    display: none;
    align-items: center;
    margin-left: 10px;
    
}

.straightline{

    width: 80px;
    height: 5px;
    background-color: gray;
    border-radius: 15px;
    margin-bottom: 20px;
}

.status-div{
    display: flex;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
    color: gray;

}

.passed{

    color: green;
}
.passed-line{

    background-color: green;
}




@media all and (max-width: 523px) {
 
    .tracker-container{
        flex-direction: column;
    }
    .tracker-right{
        margin-top: 10px;
    }

    .status-div{

        font-size: 15px;
    }

    .straightline{

        width: 50PX;
    }
 
}