*{
    margin: 0;
    box-sizing: border-box;
}

:root{

    --black-color:black;
    --black-text:black;
    --white-color:white;
    --white-text:white;
    --primary-color:#0C513F;
    --secondary-color:#FFC501;
    --tertiary-color:
}